<h4>Are you sure you want to cancel your subscription?</h4>
<p>Your private wikis will become public. If you change your mind, it will be another $15 to renew your previous subscription.</p>
<%= link_to "Cancel Subscription", downgrade_index_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Your private Wikis will become public. Are you sure you want to downgrade your premium account?'} %>
